/* Tickets form */
#tix {
	max-width: var(--wp--style--global--wide-size);

	& .tix-ticket-form,
	& .tix-tickets-list,
	& .tix-order-summary {
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		max-width: var(--wp--style--global--content-size);
		margin-left: auto;
		margin-right: auto;

		& thead th {
			border-bottom: 1px solid var(--wp--preset--color--custom-grass-green);
		}

		& th,
		& td {
			padding: 0.5em;
		}
	}

	& .tix-attendee-form {
		border-spacing: 0;
		border-collapse: collapse;

		& .tix-right {
			vertical-align: middle;
		}

		& fieldset label {
			display: inline-block;
			margin-bottom: 0.5em;
			font-size: 1rem;
			vertical-align: middle;

			& input {
				margin-right: 0.5rem;
			}
		}

		@media (max-width: 600px) {

			&,
			& tr,
			& td,
			& th {
				display: block;
				width: 100%;
			}

			& .tix-left {
				padding-bottom: 0;
				margin-bottom: 0.25rem;
			}

			& .tix-right {
				padding-left: 0;
			}

			& input[type="text"],
			& input[type="email"],
			& input[type="url"],
			& textarea, {
				width: 100%;
				box-sizing: border-box;
			}

			& fieldset {
				margin-top: 0.5rem;
			}

			& fieldset label {
				font-size: inherit;
			}
		}
	}

	& .tix-submit {
		margin-bottom: var(--wp--preset--spacing--50);
	}

	& .tix-submit .tix-checkout-button {
		text-transform: none;
		letter-spacing: 0;
		border-radius: 2px;
		padding: 0.5rem 1rem;
		background: var(--wp--preset--color--secondary);
		color: var(--wp--preset--color--white);
		font-size: 1.125rem;
		font-family: var(--wp--preset--font-family--tilt-warp);

		&:hover,
		&:focus {
			background: var(--wp--preset--color--contrast);
		}
	}
}

.tix-column-price,
.tix-column-per-ticket,
.tix-column-remaining,
.tix-column-quantity,
.tix-row-total {
	text-align: right;
}

.tix-ticket-form,
.tix-private-form,
.tix-attendee-form,
.tix-receipt-form {

	& input[type="text"],
	& input[type="email"],
	& input[type="url"],
	& textarea {
		padding: 0.5em;
	}

	& select {
		padding: 0.5em;
	}

	& tr > * {
		padding-bottom: 1em;
	}

	& .tix-right {
		padding-left: 2em;
	}
}
